*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: sans-serif;
	color: #666666;
}
img{
	border: none;
}
ul,li,ol{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clear{
	width: 100%;
	height: 100px;
	margin:40px 0;
	clear: both;
}
.clear img{
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height:120px;
	background: #000;
	margin: 0 auto;
}
.topLeft{
	
	height: 120px;
	float: left;
    margin: auto 50px;
}
.topLeft a{
	line-height: 0px;
}
.topRight{
	width: 404px;
	height: 46px;
	margin-top: 37px;
	float: right;

}
.topRight_ul li a{
	display: block;
	float: left;
	border-right: 1px solid white;
	font-size: 15px;
	padding: 0px 10px;
	font-family: "微软雅黑";
	color: #FEFEFE;
	text-align: center;
	opacity: 0.7;
}
.topRight_ul li a:hover{
	opacity: 1.0;
}
#menu{
	width: 1170px;
	height: 29px;
	margin: 0 auto;
	background: #000;
}

nav{
	height: 58px;
	line-height: 58px;
	background: #39A4DC;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 35px #fff;
	border-radius: 10px;
}
nav ul li{
	width: 146.25px;
	height: 58px;
	float: left;
	line-height: 58px;
	text-align: center;	
}
nav ul li a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
}
nav ul li:hover{
	opacity:0.8;
}
.first{
	border-radius: 10px 0 0 10px;
}
.last{
	border-radius: 0 10px 10px 0;
}
nav .hid li{
	border: none;
	background: #4E4E4E;
}
nav .hid li:hover{
	background: rgba(10,5,5,0.6);
}
nav .hid1{
	height: 0px;
	overflow: hidden;
	transition:.5s;
}
nav ul li:hover .hid1{
	height: 236px;
}
nav .hid2{
	display: none;
}
.color1{
	background: #5bb2fc;
}
.color2{
	background:#ffa659;
}
.color3{
	background: #B881CF;
	}
.color4{
	background: #fec63f;
}
.color5{
	background:#58ebd3;
}
.color6{
	background:#ff7a85;
}
.slideBox{
	width: 100%;
	height: 700px;
	overflow: hidden;
	position: relative;
	top: -58px;
}
.slideBox #focus{
	position: relative;
	height: 100%;
	z-index: 0;
}
.slideBox #focus li{
	float: left;
	width:100%;
	height:700px; 
}
#focus .btn{
	position:absolute;

	height:55px;
	padding:5px 10px;
	right:550px;
	bottom:0;
	text-align:right;
	cursor: pointer;
}
#focus .btn span{
	display:inline-block;
	width:25px;
	height:10px;
	margin-left:5px;
	background:#fff;
	opacity: 0.4;
}

#lol{
	margin: auto;
	width: 90%;
	height: 600px;;
}
#lol-1 #lol-2{
	margin: 0;
	width: 100%;
	height: 300px;

}
#lol-1-text{
	margin: 0;
	width: 48%;
	height:280px;
	float: left;
	
}
#lol-1-img{
	margin: 0;
	width: 48%;
	height:280px;
	float: left;

}
#lol-2-text{
	margin: 0;
	width: 48%;
	height:280px;
	float: left;
	
}
#lol-2-img{
	margin: 0;
	width: 48%;
	height:280px;
	float: left;

}
#lol img{
	width: 98%;
	height: 280px;

}
#lol p{
	line-height:24px;
	 padding:0 25px;
	 font-size:14px;
	
}
#lol h2{
	padding:0 25px;
	margin-top:40px;
}
h1{
	margin: 0 90px;
}
#tabContainer{
    margin: 10px 10px 10px 90px;
    width: 590px;
    height: 420px;
    border:1px solid #1B1111;
    float: left;
}
#tabContainer li{
    float: left;
    width: 90px;
    height: 40px;
    margin: 0 3px;
    background: #efefef;
    text-align: center;
}
#tabContainer a{
    display: block;
    font-size: 18px;
    line-height:40px;
}
#tabContainer a.on{

	width: 90px;
    height: 40px;

    background:#FEFDFD;
}
#boxRight{ 
	width:500px; 
	float:left;
    margin: 10px 30px;
    height: 420px;
    border:1px solid #1B1111;
}
.boxRight-1{
	font-size: 25px;
    padding:0;
	cursor:pointer;
  
}
.boxRight-1 p{
	 color: blue;
}


.boxRight-1 a{
    /* 	background : #888;*/
	display : none;
	float:left;
	width:500px;
}
.show a{
	display:block;

}
.boxRight-1 a:hover{
	color: #8217AF;
}
.boxRight-1 p:hover{
	color:#4C0707;
}
#freeList{
   width: 80%;
   height: 250px;
   margin: auto;
  
}
#freeList h1{
	font-size: 25px;
	margin: 0 420px;

}
#freeList figure{
	width: 14%;
	margin: 20px;
	height:120px;
    float: left;

}
#freeList figcaption{
	text-align: center;
}
#freeList img{
	width: 100%;
	height: 110px;
}

.layout{
	width: 90%;
	height: 300px;
	margin: 20px auto;
}
.grid{
	margin: 5px 10px;
	width: 31.5%;
	height: 280px;
	float: left;
	border:1px solid #878994;
}
.mod-hd{
	width: 100%;
	height: 30px;
	background: url(bg.jpg);
}
.mod-hd i{
	width: 30px;
	height: 30px;
	background: url(lg.png);
	float: left;
}
.mod-hd h2{
	float: left;
	font-size: 18px;
	line-height: 30px;
	color: white;
}
.mod-hd a{
	float: right;
	color: white;
	line-height: 30px;
	font-size: 13px;
}
.mod-bd{
	clear: both;
}
.mod-bd a{
	font-size: 14px;
}
.mod-bd a:hover{
	color:#2397C7;
}
.mod-bd li{
   list-style-type:square;
   margin: 5px 25px;
}

.tac{
	margin:0 auto;
	width: 100%;
	height:200px;
	background-color:#C8C7D1;
}
.tac ul{
	width: 19.8%;
	height: 200px;
    float: left;
   text-align: center;
   font-size: 15px;
}
.tac li{
	margin: 12px;
}
.tac a{
	color: #837676;

}
.tac a:hover{
	color: blue;
}
#footer{
	width: 100%;
	height:110px;
	background-color:#C8C7D1;
	text-align: center;
}

#footer-1 span{
	font-size: 25px;
	color: #4FB021;
}
#footer-1 p{
	font-size: 18px;
}
